@model SV20T1080051.Web.Models.PaginationSearchShipper
@{
    Layout = null;
}
<!-- Danh sách đơn vị giao hàng -->
<p style="padding: 10px 0 10px 5px">
    Có <strong>@string.Format("{0,-10:N0}", Model.RowCount)</strong> Đơn vị giao hàng.
    Hiện đang ở trang số <strong>@string.Format("{0,-10:N0}", Model.Page)</strong> trên tổng số <strong>@string.Format("{0,-10:N0}", Model.PageCount)</strong> trang.
</p>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-warning">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Tên đơn vị giao hàng</th>
                <th>Số điện thoại</th>
                <th style="width: 120px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.ShipperName</td>
                    <td>@item.Phone</td>
                    <td class="text-right">
                        <a href="~/Admin/Shipper/Edit/@item.ShipperID" class="btn btn-xs btn-info">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="~/Admin/Shipper/Delete/@item.ShipperID" class="btn btn-xs btn-danger">
                            <i class="fa fa-remove"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @if (Model.PageCount > 1)
    {
        <div class="text-center">
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li>
                        <a href="~/Admin/Customer?page=1&searchValue=@Model.SearchValue">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Customer?page=@(Model.Page - 1)&searchValue=@Model.SearchValue">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.Page)
                    {
                        <li class="active"><a href="#">@i</a></li>
                    }
                    else if (i == 1 || i == Model.PageCount || (i >= Model.Page - 2 && i <= Model.Page + 2))
                    {
                        <li><a href="~/Admin/Customer?page=@i&searchValue=@Model.SearchValue">@i</a></li>
                    }
                    else if ((i == Model.Page - 3 && Model.Page > 4) || (i == Model.Page + 3 && Model.Page < Model.PageCount - 3))
                    {
                        <li><span>...</span></li>
                    }
                }

                @if (Model.Page < Model.PageCount)
                {
                    <li>
                        <a href="~/Admin/Customer?page=@(Model.Page + 1)&searchValue=@Model.SearchValue">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li>
                        <a href="~/Admin/Customer?page=@Model.PageCount&searchValue=@Model.SearchValue">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

</div>
